.Projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  .Projects_cards_container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 570px;
    overflow-y: scroll;
    .Projects_card_container {
      white-space: nowrap;
      position: relative;
      margin-bottom: 40px;
      width: 100%;
      height: 250px;
      box-shadow: 0px 0px 25px -8px rgba(230, 230, 230, 1);
      -webkit-box-shadow: 0px 0px 25px -8px rgb(230, 230, 230);
      -moz-box-shadow: 0px 0px 25px -8px rgba(230, 230, 230, 1);
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 1);
      overflow: hidden;
      .Projects_card_content {
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Projects_card_left {
          position: relative;
          font-family: "Rubik";
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 40%;
          height: 100%;
          .Projects_card_left_title {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 2px;
          }
          .Projects_card_left_stack {
            color: rgb(200, 200, 200);
            font-size: 13px;
          }
          .Projects_card_left_paragraph {
            font-size: 15px;
            margin: 15px 0;
          }
          .Projects_card_left_btns {
            position: absolute;
            bottom: 5%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
              font-size: 14px;
              letter-spacing: 0.5px;
              color: white;
              padding: 8px 6px;
              border-radius: 15px;
              font-weight: 600;
              transition: background-color 400ms ease;
            }
          }
        }

        .Projects_card_right {
          width: 60%;
          height: 250px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          margin-top: 40px;
          display: flex;
          justify-content: center;
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
          .Projects_card_right_image_container {
            position: relative;
            width: 95%;
            height: 80%;
            align-self: flex-end;
          }
        }

        #foodiemakers_card_right_background {
          background: #ff5650;
          background: -moz-linear-gradient(180deg, #ff5650 0%, #ff9900 100%);
          background: -webkit-linear-gradient(180deg, #ff5650 0%, #ff9900 100%);
          background: linear-gradient(180deg, #ff5650 0%, #ff9900 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78c8c4",endColorstr="#2d3349",GradientType=1);
        }

        #mcmanager_card_right_background {
          background-color: #2a263d;
          //   background-color: #fe5260;
          background: -moz-linear-gradient(180deg, #2a263d 0%, #fe5260 100%);
          background: -webkit-linear-gradient(180deg, #2a263d 0%, #fe5260 100%);
          background: linear-gradient(180deg, #2a263d 0%, #fe5260 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78c8c4",endColorstr="#2d3349",GradientType=1);
        }

        #notecloud_card_right_background {
          background: rgb(120, 200, 196);
          background: -moz-linear-gradient(
            180deg,
            rgba(120, 200, 196, 1) 0%,
            rgba(45, 51, 73, 1) 100%
          );
          background: -webkit-linear-gradient(
            180deg,
            rgba(120, 200, 196, 1) 0%,
            rgba(45, 51, 73, 1) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(120, 200, 196, 1) 0%,
            rgba(45, 51, 73, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78c8c4",endColorstr="#2d3349",GradientType=1);
        }

        #moviecrit_card_right_background {
          background: rgb(100, 159, 204);
          background: -moz-linear-gradient(
            180deg,
            rgba(100, 159, 204, 1) 0%,
            rgba(182, 107, 214, 1) 100%
          );
          background: -webkit-linear-gradient(
            180deg,
            rgba(100, 159, 204, 1) 0%,
            rgba(182, 107, 214, 1) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(100, 159, 204, 1) 0%,
            rgba(182, 107, 214, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#649fcc",endColorstr="#b66bd6",GradientType=1);
        }

        #Projects_card_left_btns_foodiemakers {
          a {
            background-color: #ff5650;
            &:hover {
              background-color: #ff9900;
            }
          }
        }

        #Projects_card_left_btns_mcmanager {
          a {
            background-color: #2a263d;
            &:hover {
              background-color: #fe5260;
            }
          }
        }

        #Projects_card_left_btns_notecloud {
          a {
            background-color: #1aa19ad0;
            &:hover {
              background-color: rgba(45, 51, 73);
            }
          }
        }

        #Projects_card_left_btns_moviecrit {
          a {
            position: relative;
            background-color: #3081c2;
            &:hover {
              background-color: #a25abf;
            }
          }
        }
      }
    }
  }

  // Extra works
  .Projects_extra {
  }
}
