.Projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  h2 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 8px;
    height: 4%;
  }

  // Extra works
  //   .Projects_extra {
  //   }
}
