.container{
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid black;
    .Navbar_content{
        z-index: 5;
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Navbar_content_logo{
            font-weight: 600;
            font-size: 35px;
            letter-spacing: 0.8px;
        }

        .Navbar_content_menu{
            display: flex;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            gap: 60px;
            div{
                transition: transform 100ms ease-in-out, font-weight 100ms ease-in-out, color 100ms ease-in-out, opacity 300ms ease-in-out;
                transform: translateZ(0);
                -webkit-font-smoothing: subpixel-antialiased;
                backface-visibility: hidden;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.01);
                    color: #1aa19b;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 1699px) {
    .container{
        .Navbar_content{
            width: 98%;
            justify-content: flex-start;
            .Navbar_content_logo{
                font-weight: 600;
                font-size: 25px;
            }

            .Navbar_content_menu{
                width: 100%;
                justify-content: center;
                font-size: 11px;
                gap: 25px;
            }
        }
    }
}